<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>Create Account</title>
   <link rel="stylesheet" href="../style.css" type="text/css">
 </head>


 <body>
   <h1>Create Account</h1>
   <p>
    <%= error %>
   </p>
   <form id="createUser" action="/newUser" method="POST">
       <label for="username">Username:</label><br>
       <input type="text" id="username" name="username" value=""><br>
       <label for="email">Email:</label><br>
       <input type="text" id="email" name="email" value=""><br>
       <label for="password">Password:</label><br>
       <input type="text" id="password" name="password" value=""><br>
       <input type="checkbox" onclick="togglePassword()">Show Password <br><br>
       <input class = "button" type="submit" value="Submit">
   </form>
   <p>
    Already have an account? <br>
    <a href="/signin">Sign In</a>
   </p>
   <script>
    document.getElementById("password").type = "password";
    if (! sessionStorage.account){
    sessionStorage.account = [false];
    }
    function togglePassword() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
 </body>
</html>
