<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>Home</title>
   <link rel="stylesheet" href="../style.css" type="text/css">
 </head>


 <body>
    <p>
        User Created Successfully!
    </p>

    <h1>WELCOME <%= username %>!</h1>
    <form id="back" action="/home" method="POST">
        <input class = "button" type="submit" value="Back">
    </form>
    <form id="update" action="/updateUser" method="GET">
        <input class = "button" type="submit" value="update information">
    </form>
 </body>
</html>