<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>Welcome New User</title>
   <link rel="stylesheet" href="../style.css" type="text/css">
 </head>


 <body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="/signout" id="login">Signout</a>
    </div>
    <div class="main">
        <p>
            Signed In Successfully!
        </p>

        <h1>WELCOME <%= username %>!</h1>
        <form id="back" action="/home" method="POST">
            <input class = "button" type="submit" value="Back">
        </form>
        <form id="update" action="/updateUser" method="GET">
            <input class = "button" type="submit" value="update information">
        </form>
    </div>
 </body>
</html>
<script>
sessionStorage.account = true;
sessionStorage.name = "<%= username %>";
document.getElementById("login").href="/users/"+sessionStorage.name;
document.getElementById("login").innerText="Profile";
</script>