<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
  </head>

  <body>
    <div class="navbar">
      <a href="/home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="/login" id="login">Login</a>
    </div>
    <div class="main">
        <h1>You've been signed out!</h1>
    </div>
  </body>
</html>
<script>
    sessionStorage.account = false;
</script>