<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>Home</title>
   <link rel="stylesheet" href="../style.css" type="text/css">
 </head>

 <body>
    <p>
        Hi <%= username %>!
    </p>
    <p> Your email is: <%= email %> </p>
    <p>Update your account information below:</p>
    <form id="updateUser" action="/updateUser" method="GET">
      <input type="submit" value="Update Info">
    </form>

    <br><br>

    <p>Delete Account:</p>
    <p>Verify credentials to confirm you wish to delete your account (this process is irreversible)</p>
    <form id="deleteUser" action="/users" method="POST">
      <label for="email">Enter Email:</label><br>
      <input type="text" id="email" name="email" value=""><br>

      <label for="password">Enter Password:</label><br>
      <input type="text" id="password" name="password" value=""><br>
      <input type="submit" value="Delete Account">
    </form>
 </body>
</html>